<!DOCTYPE HTML>
<html>

  <head>
    <title>Thermostat</title>
      <link rel="stylesheet" href="../public/stylesheets/stylesheet.css">
      <link rel="icon" type="image/png" href="../public/icons/favicon.ico">
      <script src="../src/thermostat.js"></script>
      <!-- <script src="../../jquery/src/jquery.min.js"></script> -->
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>

  <body>
    <button id="reset_button">Reset Temperature</button>
    <button id="temp_up_button">Increase Temperature</button>
    <button id="temp_down_button">Decrease Temperature</button>
    <button id="power_saver_switch">Toggle Power Saver</button>

    <div id="current_temperature_display">Current Temp</div>
    <div id="current_usage_display">Current Usage</div>
    <div id="ps_on_display">Power Saver On</div>
  </body>
</html>
